.hero {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 4rem;
}
.cloudWrapper {
  height: 100%;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
  gap: 2rem;
  padding: 4rem;
}
.heroButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 2rem;
}
.firstHeading {
  color: var(--color-heading-primary);
  font-size: var(--font-size-6xl);
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-bold);
}
.secondHeading {
  color: var(--button-light-blue);
  font-size: var(--font-size-6xl);
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-bold);
}
.ptag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-family-atkinson);
  text-align: center;
}
.windSVG {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-button-primary-text);
}